<html>
<head>
	<title>Macros</title>
    <script src="vue.js"></script>
    <script src="macros.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="shared.css" />
	<link rel="stylesheet" type="text/css" href="management.css" />
</head>
<body>
	<template id="ruleTemplate">
		<div class="row">
			<div class="row-part rule-data">
				<div class="rule-name">{{rule.name}}</div>
				<div class="url-pattern">{{rule.urlPattern}}</div>
			</div>
			<div class="row-part">
				<div class="button row-part">
					<span class="fa fa-edit" v-on:click="onEditClicked()"></span>
				</div>
				<div class="button row-part" v-on:click="onDeleteClicked()" v-if="deletable">
					<span class="fa fa-trash"></span>
				</div>
			</div>
		</div>
	</template>
	<div id="app">
		<rule v-for="rule of rules" v-bind:rule="rule" v-on:deleteruleclicked="onDeleteRuleClicked(rule)"></rule>
	</div>
<script src="management.js">
	
</script>
</body>
</html>