body{
	margin:0px;
	padding: 0px;
}
.row{
	width:200px;
}
.row-part.left{
	width: 170px;
}
.navigation-selector{
	width:220px;
	padding: 5px;
	color: #666;
}
.suggestion{
	margin: 10px;
	user-select: none;
}
.suggestion-title{
	padding: 5px;
}
.suggestion-inner{
	display: inline-block;
	border: 1px solid #ddd;
	border-radius: 3px;
}
.suggestion-part{
	display: inline-block;
}
