.url{
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}
.row{
	padding: 10px;
	border-bottom: 1pt solid #ddd;

}
.text-input{
	padding:5px;
}
.wide{
	width: 40em;
}
.label{
	display: inline-block;
}
.row .label{
	width: 10em;
}
.row .row-part{
	display: inline-block;
	vertical-align: top;
}
.class-finder{
	position: absolute;
	top: 20px;
	right: 20px;
	border: 1pt solid #ddd;
	padding: 10px;
	background-color: #fff;
}
::placeholder{
	color: #aaa;
}
.comparison-select{
	border: none;
}