.url{
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}
.row{
	padding: 10px;
	border-bottom: 1pt solid #ddd;

}
.text-input{
	padding:5px;
}
.collapsed .row:not(:first-child){
	display: none;
}
.wide{
	width: 40em;
}
.label{
	display: inline-block;
}
.button{
	cursor: pointer;
}
.row.with-buttons{
	min-width: 10em;
}
.right{
	position: absolute;
	right: 20px;
}
.action-buttons{
	border-left: 1pt solid #ddd;
}
.action-button{
	padding: 5px;
}
.run-button{
	color: #0a0;
}
.run-button-disabled{
	color: #aaa;
}
.row .label{
	width: 10em;
}
.row-part{
	display: inline-block;
	vertical-align: top;
}
.class-finder{
	position: absolute;
	top: 20px;
	right: 20px;
	border: 1pt solid #ddd;
	padding: 10px;
	background-color: #fff;
}
::placeholder{
	color: #aaa;
}
.comparison-select{
	border: none;
}
.list{
	height: 200px;
	overflow: auto;
}
.selector-text{
	color: #222;
}
.class-name{
	color: #22a;
}
.node-name{
	color: #a22;
}
.node-id{
	color: #2a2;
}
.indent{
	width: 5em;
}