<html>
<head>
	<title>Create rule</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
	<link rel="stylesheet" type="text/css" href="create-rule.css" />
</head>
<body>
	<div id="app">
		<div v-if="isNew">Create new rule</div>
		<div v-if="!isNew">Edit rule</div>
		<div v-if="hasPage">Page <span class="url" v-on:click="gotoPage()">{{url}}</span></div>
		<div>
			<input type="text" v-model="name"/>
			<input type="button" v-on:click="saveRule()" value="Save"/>
		</div>
	</div>
<script src="create-rule.js">
	
</script>
</body>
</html>