body{
	background-color: #fff;
}
.rule-name{
	font-weight: bold;
}
.effect{
	color: #aaa;
}
.rule-description{
	width: 200px;
}
.add-action-button{
	font-family: monospace;
	border: 1pt solid #999;
	border-radius: 2px;
	cursor: pointer;
}
.add-action-button:hover{
	background-color: #ccc;
}