<html>
	<head>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
		<link rel="stylesheet" type="text/css" href="dropdown.css" />
	</head>
<body>
	<template id="ruleTemplate">
		<div class="row">
			<div class="block">{{rule.rule.name}}</div>
			<div class="block">
				<input v-if="editable" type="button" value="Edit" id="add-button" v-on:click="onEditClicked()"/>
			</div>
			<div class="block">
				<input type="button" value="Execute" v-on:click="onExecuteClicked()"/>
			</div>
		</div>
	</template>
	<div id="app">
		<rule v-for="rule of rules" v-bind:rule="rule" v-on:editclicked="onEditClicked($event)" v-on:executeclicked="onExecuteClicked($event)"></rule>
		<div class="row">
			<input type="button" value="Add" id="add-button" v-on:click="addRule()"/>
		</div>
		
	</div>
	
<script src="popup.js"></script>
</body>
</html>