<html>
	<head>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
		<link rel="stylesheet" type="text/css" href="shared.css" />
		<link rel="stylesheet" type="text/css" href="popup.css" />
	</head>
<body>
	<template id="ruleTemplate">
		<div class="row">
			<div class="row-part left">{{rule.rule.name}}</div>
			<div class="row-part">
				<div class="button" v-on:click="onExecuteClicked()" v-if="canExecute">
					<span class="run-button fa fa-play"></span>
				</div>
				<div class="button" v-if="otherIsExecuting">
					<span class="run-button-disabled fa fa-play"></span>
				</div>
				<div class="button" v-if="isExecuting">
					<span class="fa fa-circle-notch fa-spin"></span>
				</div>
				<div class="button" v-on:click="onEditClicked()" v-if="editable">
					<span class="fa fa-edit"></span>
				</div>
			</div>
		</div>
	</template>
	<div id="app">
		<div class="row" v-if="rules.length === 0">
			<div class="row-part left">
				No macros for this page.
			</div>
		</div>
		<rule v-for="rule of rules" v-bind:rule="rule" v-on:editclicked="onEditClicked(rule)" v-on:executeclicked="onExecuteClicked(rule)" v-bind:executingrule="executingRule"></rule>
		<div class="row">
			<div class="action-button row-part" v-on:click="addRule()">
				<span class="button fa fa-plus"></span>
			</div>
			<div class="action-button row-part" v-on:click="goToManagementPage()">
				<span class="button fa fa-cog"></span>
			</div>
		</div>
	</div>
	
<script src="popup.js"></script>
</body>
</html>