.row{
	padding: 10px;
	border-bottom: 1pt solid #ddd;
}
.row-part{
	display: inline-block;
	vertical-align: top;
}
.button{
	cursor: pointer;
	padding: 5px;
}
.run-button{
	color: #0a0;
}
.run-button-disabled{
	color: #aaa;
}