<html>
<head>
	<title>Macros</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
	<link rel="stylesheet" type="text/css" href="shared.css" />
	<link rel="stylesheet" type="text/css" href="devtools_sidebar.css" />
</head>
<body>
	<template id="nodeTemplate">
		<div>
			<pre><span class="node-name">{{node.nodeName}}</span><span v-if="node.id" class="node-id">#{{node.id}}</span><span class="class-name" v-for="className of node.classes">.{{className}}</span><span class="attribute" v-for="attribute of node.attributes">[{{attribute.attributeName}}=&quot;{{attribute.attributeValue}}&quot;]</span></pre>
		</div>
	</template>
	<template id="ruleTemplate">
		<div class="row">
			<div class="row-part rule-description">
				<div class="rule-name">{{rule.rule.name}}</div>
				<div>
					<div v-for="effect of rule.effect" class="effect">{{effect}}</div>
				</div>
			</div>
			<div class="row-part" v-if="rule.editable">
				<div class="add-action-button" v-on:click="onAddActionClicked()">add action</div>
			</div>
		</div>
	</template>
	<div id="app">
		<node v-bind:node="currentlySelectedElement" v-if="currentlySelectedElement"></node>
		<rule v-for="rule of currentRules" v-bind:rule="rule" v-on:addactionclicked="addActionToRule(rule)"></rule>
		<div class="row">
			<div class="row-part rule-description">(New macro)</div>
			<div class="row-part">
				<div class="add-action-button" v-on:click="addActionToNewRule()">add action</div>
			</div>
		</div>
	</div>
	<script src="devtools_sidebar.js">
	</script>
</body>
</html>