.url{
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}
.text-input{
	padding:5px;
}
.collapsed .row:not(:first-child){
	display: none;
}
.wide{
	width: 40em;
}
.label{
	display: inline-block;
}
.right{
	position: absolute;
	right: 20px;
}
.row.with-buttons{
	min-width: 10em;
}
.row .label{
	width: 10em;
}
.action-buttons{
	border-left: 1pt solid #ddd;
}
.class-finder{
	position: absolute;
	top: 20px;
	right: 20px;
	border: 1pt solid #ddd;
	padding: 10px;
	background-color: #fff;
}
::placeholder{
	color: #aaa;
}
.comparison-select{
	border: none;
}
.list{
	height: 200px;
	overflow: auto;
}
.selector-text{
	color: #222;
}
.indent{
	width: 5em;
}