<html>
<head>
	<title>Create rule</title>
	<script src="vue.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="shared.css" />
	<link rel="stylesheet" type="text/css" href="create-rule.css" />
</head>
<body>
	<template id="removeStylePropertyActionTemplate">
		<input class="text-input" type="text" v-model="form.propertyName"/>
	</template>
	<template id="removeClassActionTemplate">
		<input data-e2e="removeClass,className" class="text-input" type="text" v-model="form.className"/>
	</template>
	<template id="selectActionTemplate">
		<div data-e2e="select-action" class="row-part">
			<div class="row-part">
				Select nodes matching
				<div class="row-part">
					<input data-e2e="selector" type="text" class="text-input" v-model="form.selector"/>
					<div data-e2e="selector-required-error" class="error-message" v-if="hasSelectorRequiredError && showErrors">A selector is required</div>
					<div data-e2e="selector-invalid-error" class="error-message" v-if="hasSelectorInvalidError && showErrors">Invalid selector</div>
				</div>
			</div>
			<div class="row-part">
				and
				<div class="row-part">
					<select data-e2e="node-action" class="text-input" v-model="actionType">
						<option :value="actionTypeConstants.DELETE_ACTION_TYPE">delete them</option>
						<option :value="actionTypeConstants.REMOVE_CLASS_ACTION_TYPE">remove class</option>
						<option :value="actionTypeConstants.REMOVE_STYLE_PROPERTY_ACTION_TYPE">remove style property</option>
					</select>
					<div data-e2e="action-required-error" class="error-message" v-if="hasActionRequiredError && showErrors">An action is required</div>
				</div>
				<remove-class-action v-if="actionType === actionTypeConstants.REMOVE_CLASS_ACTION_TYPE" v-bind:form="form.actionForm"></remove-class-action>
				<remove-style-property-action v-if="actionType === actionTypeConstants.REMOVE_STYLE_PROPERTY_ACTION_TYPE" v-bind:form="form.actionForm"></remove-style-property-action>
			</div>
		</div>
	</template>
	<template id="actionTemplate">
		<div data-e2e="action" class="row">
			<select-action v-if="form.type === actionTypeConstants.SELECT_ACTION_TYPE" v-bind:form="form" v-bind:show-errors="showErrors"></select-action>
			<div class="row-part">
				<div class="action-buttons">
					<div class="button" v-if="isExecuting">
						<span class="fa fa-circle-notch fa-spin"></span>
					</div>
					<div data-e2e="execute" class="button" v-if="canExecute" v-on:click="execute()">
						<span class="run-button fa fa-play"></span>
					</div>
					<div class="button" v-if="otherIsExecuting">
						<span class="run-button-disabled fa fa-play"></span>
					</div>
					<div class="button">
						<span class="fa fa-trash" v-on:click="deleteClicked()"></span>
					</div>
				</div>
			</div>
		</div>
	</template>
	<template id="actionAdderTemplate">
		<div data-e2e="action-adder">
			<select data-e2e="action-type" class="text-input" v-model="type">
				<option :value="actionTypeConstants.SELECT_ACTION_TYPE">Select nodes</option>
			</select>
			<input data-e2e="add-action" type="button" value="Add" v-on:click="onAddClicked()"/>
		</div>
	</template>
	<div id="app">
		<div class="row">
			<div v-if="isNew">Create new rule</div>
			<div v-if="!isNew">Edit rule</div>
		</div>
		<div class="row" v-if="hasPage">
			<div>Page <span class="url" v-on:click="gotoPage()" data-e2e="page">{{url}}</span></div>
		</div>
		
		<div class="row">
			<label class="label" for="name-input">Name</label>
			<input data-e2e="name" class="text-input wide" type="text" id="name-input" v-model="form.name"/><span data-e2e="name-required-error" class="error-message" v-if="hasNameRequiredError && showErrors">Name is required</span>	
		</div>
		<div class="row">
			<label class="label" for="pattern-input">Url pattern</label>
			<input data-e2e="url-pattern" class="text-input wide" type="text" id="pattern-input" v-model="form.urlPattern"/><span class="error-message" v-if="hasUrlPatternRequiredError && showErrors">Url pattern is required</span>	
		</div>
		<div class="row">
			<div class="row-part label">Actions</div>
			<div class="row-part">
				<action 
					v-for="actionForm of form.actions"
					v-bind:form="actionForm"
					v-bind:runnable="hasPage"
					v-bind:executing-action-id="executingActionId"
					v-bind:show-errors="showErrors"
					v-on:delete-clicked="deleteActionById(actionForm.id)"
					v-on:execute-clicked="executeActionById(actionForm.id)"
					:key="actionForm.id"></action>
				<action-adder v-on:addtype="onAddType($event)"></action-adder>
				
			</div>
		</div>
		<div class="row">
			<label class="label" for="automatic-input">Automatic</label>
			<input data-e2e="automatic" type="checkbox" id="automatic-input" v-model="form.automatic"/>	
		</div>
		<div class="row">
			<input data-e2e="save" class="save-button" v-bind:class="{'dirty': isDirty}" type="button" v-bind:disabled="saveDisabled" v-on:click="saveRule()" value="Save"/>
		</div>
	</div>
<script src="create-rule.js">
	
</script>
</body>
</html>